html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #f9fafb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter, sans-serif;
}
